Arelle.egg-info
__pycache__
build
dist
*.class
*.pyc
*.dot
*.stats
.coverage
.DS_Store
.project
.pydevproject
.settings
.virtualenv
buildRenameX64.bat
buildRenameX86.bat
arelle/Version.py
gprof2dot.py
top.py
nosetests.xml
