Arelle.egg-info
__pycache__
build
dist
*.pyc
*.dot
*.stats
buildRenameX64.bat
buildRenameX86.bat
arelle/Version.py
gprof2dot.py
top.py
nosetests.xml
.coverage
.DS_Store
.project
.pydevproject
.settings
.virtualenv
