prune .github
prune docker
prune arelle/archive
prune arelle/examples
prune arelle/scripts-*
prune docker
prune docs
prune scripts
prune tests
exclude .git-blame-ignore-revs
exclude .readthedocs.yaml
exclude *.nsi
exclude *.pot
exclude *.py
exclude *.pyw
exclude *.qwc
exclude requirements*.txt
exclude runtime.txt
exclude tox.ini
