include README.txt
recursive-include arelle *.gif
recursive-include arelle *.ico
recursive-include arelle *.xbm
recursive-include arelle *.xsd
recursive-include arelle *.xml
recursive-include arelle *.pot

