[build-system]
requires = ["setuptools~=62.3", "wheel~=0.37.1"]
build-backend = "setuptools.build_meta"

[tool.pytest.ini_options]
xfail_strict = true

[tool.mypy]
# Warn when a # type: ignore comment does not specify any error codes
enable_error_code = "ignore-without-code"

python_version = "3.9"

show_error_codes = true

# EFM-htm is an invalid Python package name
exclude = "arelle/plugin/validate/EFM-htm"

# --- per-module options ---
[[tool.mypy.overrides]]
module = 'arelle.*'
ignore_errors = true

# --- strict typing ---
# when a directory is converted, file entries are replaced by directory entry
# when the library is converted, the above entry will be replaced (strict is demanded)
[[tool.mypy.overrides]]
module = [
    'arelle.plugin.validate.ESEF.*',
]
ignore_errors = false
strict = true
