# core modules
certifi==2025.7.14
truststore==0.10.1 ; python_version > "3.9"
filelock==3.18.0
jsonschema==4.24.0
lxml==5.4.0
OpenPyXL==3.1.5
pyparsing==3.2.3
regex==2024.11.6
typing-extensions==4.14.1
isodate==0.7.2
aniso8601==10.0.1
bottle==0.13.4
Cheroot==10.0.1
python-dateutil==2.9.0.post0
pycountry==24.6.1
# plugins
# EDGAR plugins
NumPy==2.0.2 ; python_version <= "3.9"
NumPy==2.2.4 ; python_version > "3.9"
Matplotlib==3.9.4 ; python_version <= "3.9"
Matplotlib==3.10.1 ; python_version > "3.9"
holidays==0.76
pytz==2025.2
Tornado==6.5.1
# security plugin
PyCryptodome==3.23.0
# xbrlDB plugin
cx_Oracle==8.3.0
pg8000==1.31.2
PyMySQL==1.1.1
pyodbc==5.2.0
RDFLib==7.1.4
# other
graphviz==0.21
Pillow==11.3.0
pywin32==311 ; sys_platform == "win32"
tinycss2==1.4.0
