<?xml version="1.0" encoding="UTF-8"?>
<DisclosureSystems
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../config/disclosuresystems.xsd">
    <!-- see arelle/config/disclosuresystems.xml for full comments -->
    <DisclosureSystem
            names="uksef-2025-preview"
            description="Validates rules for UK Single Electronic Format (UKSEF) filings"
            validationType="UKSEF"
    />
</DisclosureSystems>
