<?xml version="1.0" encoding="UTF-8"?>
<DisclosureSystems
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../config/disclosuresystems.xsd">
    <!-- see arelle/config/disclosuresystems.xml for full comments -->
    <DisclosureSystem
            names="NT19|nt19|NT19-preview|nt19-preview"
            description="Checks for NT19"
            validationType="NL"
    />
    <DisclosureSystem
            names="NT18|nt18|NT18-preview|nt18-preview"
            description="Checks for NT18"
            validationType="NL"
    />
    <DisclosureSystem
            names="NT17|nt17|NT17-preview|nt17-preview"
            description="Checks for NT17"
            validationType="NL"
    />
    <DisclosureSystem
            names="NT16|nt16|NT16-preview|nt16-preview"
            description="Checks for NT16"
            validationType="NL"
    />
</DisclosureSystems>
