<?xml version="1.0" encoding="UTF-8"?>
<DisclosureSystems xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <DisclosureSystem
            names="House rules|house-rules"
            description="Example house rules published on arelle.org"
            validationType="HOUSE"
    />
</DisclosureSystems>
