<?xml version="1.0" encoding="UTF-8"?>
<DisclosureSystems  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                    xsi:noNamespaceSchemaLocation="../../../../config/disclosuresystems.xsd" >
    <!-- see ../config/disclosuresystem.xml for full comments -->

    <DisclosureSystem
        names="FI-PRH|fi-prh"
        description="PRH (Finland) Validation Checks\n
        Disallowed references are processed"
        validationType="PRH"
        blockDisallowedReferences="false"
        defaultXmlLang="en"
        validateFileText="false"
        />

</DisclosureSystems>
