<?xml version="1.0" encoding="UTF-8"?>
<DisclosureSystems
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../config/disclosuresystems.xsd">
    <!-- see arelle/config/disclosuresystems.xml for full comments -->
    <DisclosureSystem
            names="EDINET|edinet"
            description="Checks for EDINET."
            arcroleCyclesAllowed='{
                "http://xbrl.org/int/dim/arcrole/dimension-domain": ["none", "EDINET.EC5700W.GFM.1.8.4"],
                "http://xbrl.org/int/dim/arcrole/domain-member": ["none", "EDINET.EC5700W.GFM.1.8.4"],
                "http://www.xbrl.org/2003/arcrole/summation-item": ["none", "EDINET.EC5700W.GFM.1.7.4"],
                "https://xbrl.org/2023/arcrole/summation-item": ["none", "EDINET.EC5700W.GFM.1.7.4"]
                }'
            defaultXmlLang="ja"
            keepOpen="true"
            blockDisallowedReferences="true"
            standardTaxonomiesUrl="edinet-taxonomies.xml"
            validationType="EDINET"
            exclusiveTypesPattern="EFM|GFM|FERC|HMRC|SBR.NL|EBA|EIOPA|ESEF"
    />
</DisclosureSystems>
