<?xml version="1.0" encoding="UTF-8"?>
<DisclosureSystems  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
      xsi:noNamespaceSchemaLocation="../../../config/disclosuresystems.xsd" >
  <!-- see ../config/disclosuresystem.xml for full comments -->
  
  <!-- exclusiveTypesPattern must also list any other validation in main module code (such as
       modelDocument checks for xml:base and loadability) -->

  <DisclosureSystem 
     names="EBA Filing Rules|eba" 
     description="EBA Filing Rules, COREP and FINREP v2\n
     Default language English\n
     EDInet identifier patterns\n
     Allowed references TBD"
     defaultXmlLang="" 
     defaultLanguage="English" 
     validationType="EBA"
     exclusiveTypesPattern="EBA|EIOPA|EFM|GFM|HMRC|SBR.NL"
     validateFileText="false"
     identifierSchemePattern="^http://.*$"
     identifierValuePattern="^.*$"
     identifierValueName="My code"
     contextElement="scenario"
     roleDefinitionPattern="^\S[^\n]* - [^\n]*\S$"
     labelCheckPattern="\s{2,}|&lt;"
     labelTrimPattern="\s"
     />
<!--
     standardTaxonomiesUrl="validateEBAtaxonomies.xml"
-->
  <!-- defaultXmlLang is empty string to prevent assuming a lang attribute when none on string facts
  	   defaultXmlEncoding is empty string to force detecting when missing in validation -->
  <DisclosureSystem 
     names="EIOPA Filing Rules|eiopa" 
     description="EIOPA Filing Rules, Solvency II\n
     Default language English\n
     EDInet identifier patterns\n
     Allowed references TBD"
     defaultXmlLang="" 
     defaultXmlEncoding=""
     defaultLanguage="English" 
     validationType="EIOPA"
     exclusiveTypesPattern="EBA|EIOPA|EFM|GFM|HMRC|SBR.NL"
     validateFileText="false"
     identifierSchemePattern="^http://.*$"
     identifierValuePattern="^.*$"
     identifierValueName="My code"
     contextElement="scenario"
     roleDefinitionPattern="^\S[^\n]* - [^\n]*\S$"
     labelCheckPattern="\s{2,}|&lt;"
     labelTrimPattern="\s"
     />


</DisclosureSystems>