name: Build for Mac

on:
  workflow_dispatch:
    inputs:
      edgar_renderer_ref:
        description: 'Arelle/EdgarRenderer branch, tag or SHA to checkout (blank for default)'
        required: false
        type: string
      ixbrl_viewer_ref:
        description: 'Workiva/ixbrl-viewer branch, tag or SHA to checkout (blank for default)'
        required: false
        type: string
      node_version:
        default: lts/*
        description: 'Node.js version to use'
        required: true
        type: string
      python_version:
        default: '3.10'
        description: 'Python version to use'
        required: true
        type: string
      xule_ref:
        description: 'xbrlus/xule branch, tag or SHA to checkout (blank for default)'
        required: false
        type: string

jobs:
  build-distribution:
    strategy:
      matrix:
        os: [ macos-12 ]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout arelle
        uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0
      - name: Install Python
        uses: actions/setup-python@v4.3.0
        with:
          cache: 'pip' # caching pip dependencies
          check-latest: true
          python-version: ${{ inputs.python_version }}
      - run: pip install -r requirements-build.txt
      - uses: actions/checkout@v3.1.0
        with:
          repository: Arelle/EdgarRenderer
          path: arelle/plugin/EdgarRenderer
          ref: ${{ inputs.edgar_renderer_ref }}
      - run: rm -rf arelle/plugin/EdgarRenderer/.git
      - uses: actions/checkout@v3.1.0
        with:
          repository: xbrlus/xule
          path: tmp
          ref: ${{ inputs.xule_ref }}
      - run: |
          mv tmp/plugin/validate/* arelle/plugin/validate/
          rm -rf tmp/plugin/validate
          mv tmp/plugin/* arelle/plugin/
          rm -rf tmp
      - uses: actions/checkout@v3.1.0
        with:
          repository: Workiva/ixbrl-viewer
          path: tmp/ixbrl-viewer
          ref: ${{ inputs.ixbrl_viewer_ref }}
      - uses: actions/setup-node@v3.5.1
        with:
          node-version: ${{ inputs.node_version }}
      - run: |
          cd tmp/ixbrl-viewer
          npm install
          npm run prod
          cd ../..
          mv tmp/ixbrl-viewer/iXBRLViewerPlugin arelle/plugin/
          rm -rf tmp
      - name: Capture version before localization
        run: echo "SETUPTOOLS_SCM_PRETEND_VERSION=$(python -W ignore distro.py --version)" >> $GITHUB_ENV
      - name: Rebuild messages.pot internationalization file
        run: python pygettext.py -v -o arelle/locale/messages.pot arelle/*.pyw arelle/*.py
      - name: Regenerate messages catalog (doc/messagesCatalog.xml)
        run: python generateMessagesCatalog.py
      - run: cp -p arelleGUI.pyw arelleGUI.py
      - name: Build app
        run: python distro.py bdist_mac
      - name: Remove git directories
        run: find build/Arelle.app/Contents/Resources -name .git -exec rm -fR {} \;
      - name: Build DMG
        run: |
          pwd
          mkdir dist_dmg
          SIZE=`du -ms | awk '{print int($1 + 20 + 0.5)}'`
          ls build
          hdiutil create -srcfolder build/Arelle.app -volname Arelle -fs HFS+ -fsargs "-c c=64,a=16,e=16" -format UDRW -size ${SIZE}M dist_dmg/arelle_tmp.dmg
          echo "Created DMG: arelle_tmp.dmg"
          DEVICE=$(hdiutil attach -readwrite -noverify dist_dmg/arelle_tmp.dmg | egrep '^/dev/' | sed 1q | awk '{print $1}')
          sleep 2
          pushd /Volumes/Arelle
          ln -s /Applications
          popd
          mkdir /Volumes/Arelle/.background
          cp arelle/images/dmg_background.png /Volumes/Arelle/.background/
          echo '
             tell application "Finder"
               tell disk "Arelle"
                     open
                     set current view of container window to icon view
                     set toolbar visible of container window to false
                     set statusbar visible of container window to false
                     set the bounds of container window to {400, 100, 920, 440}
                     set viewOptions to the icon view options of container window
                     set arrangement of viewOptions to not arranged
                     set icon size of viewOptions to 72
                     set background picture of viewOptions to file ".background:dmg_background.png"
                     set position of item ".background" of container window to {999,999}
                     set position of item ".DS_Store" of container window to {999,1099}
                     set position of item ".fseventsd" of container window to {999,1299}
                     set position of item "Arelle.app" of container window to {150, 70}
                     set position of item "Applications" of container window to {260, 240}
                     close
                     open
                     update without registering applications
                     delay 2
               end tell
             end tell
          ' | osascript
          sync
          hdiutil detach "${DEVICE}"
          hdiutil convert dist_dmg/arelle_tmp.dmg -format UDZO -imagekey zlib-level=9 -o dist_dmg/arelle-${{ matrix.os }}.dmg
      - uses: actions/upload-artifact@v3.1.0
        with:
          name: macos distribution
          path: dist_dmg/arelle-${{ matrix.os }}.dmg
