name: Add to Project

on:
  issues:
    types:
      - opened
      - transferred
  pull_request_target:
    types:
      - opened

jobs:
  add-to-project:
    name: PR
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/add-to-project@v0.3.0
        with:
          project-url: https://github.com/orgs/Arelle/projects/3
          github-token: ${{ secrets.PROJECT_TOKEN }}
