name: Release

on:
  release:
    types: [released]

permissions: {}

jobs:
  publish-documentation:
    uses: ./.github/workflows/publish-documentation.yml
    secrets: inherit

  tests:
    uses: ./.github/workflows/tests.yml
  python-package:
    uses: ./.github/workflows/python-package.yml
  publish-python-package:
    # publish job is inline here because PyPI doesn't support trusted publishers from GitHub reusable workflows.
    # https://docs.pypi.org/trusted-publishers/troubleshooting/#reusable-workflows-on-github
    needs: 
      - tests
      - python-package
    environment: release
    permissions:
      contents: write
      id-token: write
    runs-on: ubuntu-24.04
    steps:
      - name: Download tar artifact
        uses: actions/download-artifact@v8.0.0
        with:
          name: arelle.tar.gz
          path: dist/
      - name: Download wheel artifact
        uses: actions/download-artifact@v8.0.0
        with:
          name: arelle.whl
          path: dist/
      - name: Publish package on release
        uses: pypa/gh-action-pypi-publish@v1.13.0
      - name: Upload release artifact
        uses: softprops/action-gh-release@v2.5.0
        with:
          fail_on_unmatched_files: true
          files: 'dist/*'

  build-linux:
    uses: ./.github/workflows/build-linux.yml
  publish-linux:
    permissions:
      contents: write
      id-token: write
    needs: build-linux
    uses: ./.github/workflows/publish-frozen-build.yml
    with:
      github_artifact: ${{ needs.build-linux.outputs.uploaded_artifact_name }}
      build_name: ${{ needs.build-linux.outputs.artifact_versioned_name }}
      build_alias: arelle-ubuntu.tgz
    secrets: inherit

  build-macos-x64:
    uses: ./.github/workflows/build-macos.yml
    with:
      macos_version: 15-intel
      python_architecture: x64
    secrets: inherit
  publish-macos-x64:
    permissions:
      contents: write
      id-token: write
    needs: build-macos-x64
    uses: ./.github/workflows/publish-frozen-build.yml
    with:
      github_artifact: ${{ needs.build-macos-x64.outputs.uploaded_artifact_name }}
      build_name: ${{ needs.build-macos-x64.outputs.artifact_versioned_name }}
      build_alias: arelle-macos-x64.dmg
    secrets: inherit

  build-macos-arm64:
    uses: ./.github/workflows/build-macos.yml
    with:
      macos_version: 15
      python_architecture: arm64
    secrets: inherit
  publish-macos-arm64:
    permissions:
      contents: write
      id-token: write
    needs: build-macos-arm64
    uses: ./.github/workflows/publish-frozen-build.yml
    with:
      github_artifact: ${{ needs.build-macos-arm64.outputs.uploaded_artifact_name }}
      build_name: ${{ needs.build-macos-arm64.outputs.artifact_versioned_name }}
      build_alias: arelle-macos-arm64.dmg
    secrets: inherit

  build-windows:
    uses: ./.github/workflows/build-windows.yml
  publish-windows-installer:
    permissions:
      contents: write
      id-token: write
    needs: build-windows
    uses: ./.github/workflows/publish-frozen-build.yml
    with:
      github_artifact: ${{ needs.build-windows.outputs.exe_uploaded_artifact_name }}
      build_name: ${{ needs.build-windows.outputs.exe_artifact_versioned_name }}
      build_alias: arelle-win.exe
    secrets: inherit
  publish-windows-zip:
    permissions:
      contents: write
      id-token: write
    needs: build-windows
    uses: ./.github/workflows/publish-frozen-build.yml
    with:
      github_artifact: ${{ needs.build-windows.outputs.zip_uploaded_artifact_name }}
      build_name: ${{ needs.build-windows.outputs.zip_artifact_versioned_name }}
      build_alias: arelle-win.zip
    secrets: inherit
