name: Run Integration Test Scripts

on:
  workflow_dispatch:
  pull_request_target:
    paths:
      - '.github/workflows/test-scripts.yml'
      - 'arelle/**'
      - 'tests/**'
      - '**.py'
      - '**.pyw'
      - 'requirements*.txt'

permissions: {}

jobs:
  find-tests:
    runs-on: ubuntu-24.04
    outputs:
      matrix: ${{ steps.build-test-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          persist-credentials: false
          ref: ${{ github.event.pull_request.head.sha }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - id: build-test-matrix
        run: |
          echo 'matrix<<EOF' >> $GITHUB_OUTPUT
          python -m tests.integration_tests.scripts.discover_tests | tee -a $GITHUB_OUTPUT
          echo EOF >> $GITHUB_OUTPUT

  run-test-script:
    name: ${{ matrix.test.private && 'private - ' || '' }}${{ matrix.test.os }} - ${{ matrix.test.python_version }}
    needs: find-tests
    runs-on: ${{ matrix.test.os }}
    strategy:
      fail-fast: false
      matrix:
        test: ${{ fromJson(needs.find-tests.outputs.matrix) }}
    environment: ${{ matrix.test.environment }}
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          persist-credentials: false
          ref: ${{ github.event.pull_request.head.sha }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - name: Configure AWS Credentials
        if: ${{ matrix.test.environment == 'integration-tests' }}
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: us-east-1
      - name: Install Python 3
        uses: actions/setup-python@v6.1.0
        with:
          cache: 'pip'
          check-latest: true
          python-version: ${{ matrix.test.python_version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install -r requirements-test.txt
          pip install -r requirements-plugins.txt
      - name: Run integration tests with pytest
        run: |
          pytest -s --disable-warnings --name="${{ matrix.test.name }}" --download-cache --offline --arelle="python arelleCmdLine.py" tests/integration_tests/scripts/test_scripts.py
      - name: Upload log artifacts
        if: always()
        uses: actions/upload-artifact@v6.0.0
        with:
          name: ${{ matrix.test.private && 'private_' || '' }}${{ matrix.test.os }}_${{ matrix.test.python_version }}_logs
          if-no-files-found: error
          include-hidden-files: true
          path: '.test/**/*.logfile.*'
